@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Questrial&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

body {
  overflow-x: hidden;
  /* background-color: #f8f8f8; */
  background-color: #f4f4f417;
}

html {
  scroll-behavior: smooth;
}

nav {
  padding: 0.4rem 8rem;
}

nav.scrolled {
  background-color: #272727ab;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.landing-overlay {
  color: white;
  padding: 0 8rem;
}

.landing-overlay h1 {
  font-size: 400%;
  color: white;
}

.reveal-text {
  margin-bottom: 3rem;
}

.word {
  opacity: 0;
  display: inline-block;
  margin-right: 8px;
  animation: fadeIn 0.5s forwards;
}

.delay-1 {
  animation-delay: 0s;
}
.delay-2 {
  animation-delay: 1s;
}
.delay-3 {
  animation-delay: 2s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.landing-overlay button {
  padding: 0.5rem 1.2rem;
}

.hero-overlay h1 {
  color: white;
  font-size: 400%;
  font-family: "Merienda";
}

.hero-overlay span {
  padding: 0.5rem 0.8rem;
}

.hero-overlay h1 {
  margin-top: -80px;
}

.home-page {
  padding: 2rem;
  margin: 3.5rem;
}

.home-left-section {
  padding: 4rem;
}

.home-left-section p {
  margin: 15px 0;
  line-height: 1.7;
}

.home-right-section img {
  height: 300px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.home-image-2 {
  margin-top: 30px;
}

.book-display-title-container {
  margin-bottom: 3rem;
}

.book-display-title-container h1 {
  margin-bottom: 1rem;
}

.search-container div input {
  padding: 8px;
  border: 1px solid rgb(245, 243, 243);
  font-size: 14px;
}

.search-container .search-button {
  background-color: #555;
  color: #fff;
  padding: 0.3rem 0.8rem;
  margin-left: -1px;
}

.search-container .search-button:hover {
  background-color: rgb(7, 124, 202);
}

#bookDisplay {
  gap: 2rem;
  margin: 4rem;
}

.book-card {
  padding: 2rem;
  row-gap: 1.2rem;
}

.buttons button {
  padding: 0.3rem 0.9rem;
  cursor: pointer;
}

#bookDetails {
  padding: 2rem;
}

.book-details-card {
  margin: 4rem 0;
  padding: 6rem;
}

.book-details-card .right-section p {
  font-size: 20px;
  font-weight: 400;
}
